<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Input Data Food</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body class="mcd-theme">
        <h2>Add Some Food</h2>
        <div class="form-container">

            {% if error %}
                <p style="color: #DA291C;">{{ error}}</p>
            {% endif%}
            
            <form action="/addfood" method="post">
                <label for="name">Food Name:</label>
                <input type="text" name="name" id="name" placeholder="Add New Food" required>
                <br>
                <label for="price">Price:</label>
                <input type="text" name="price" id="price" placeholder="Add Price" required>
                <br>
                <label for="category">Category:</label>
                <input type="text" name="category" id="category" placeholder="Add Category" required>
                <br>
                <input type="submit" value="Add">
            </form>   
            <a href="/" class="home-button ">Home</a>
        </div>
        
    </body>
</html>