<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GasFood</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body class="mcd-theme">
    
        <h2>List Order</h2>

        <div class="menu">
            <a href="/display_order" class="menu-button">Display</a>
            <a href="/addorder" class="menu-button">Add</a>
            <a href="/updateorder" class="menu-button">Update</a>
            <a href="/deleteorder" class="menu-button">Delete</a>
            <br>
            <a href="/" class="menu-button">Home</a>
        </div>
    </body>
</html>